body {
    background-image: url("images/poly_digital_06.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login{
    width: 300px;
    height: 350PX;
    margin: 10% auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.9);
    text-align: center;
}

input {
    width: 90%;
    height: 25px;
    margin: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    width: 100px;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p{
    font-size: 14px;
    color: #555;    
}

input::placeholder {
    color: #aaa;
    width: auto;
}

img {
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

p {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #555;
}

