.recipe-body, .recipe-name, .recipe-text, .recipe-tips, .about-author {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

h2, h3 {
    background-color: #83ff83;
    border-radius: 20px;
    padding: 10px;
    margin-top: 0;
}

/* Main sections */
.recipe-body {
    border: 2px solid black;
    background-color: rgb(255, 255, 231);
}

.recipe-name, .recipe-text, .recipe-tips, .about-author {
    background-color: rgb(255, 255, 219);
    box-shadow: 5px 5px rgb(190, 190, 140);
}

.recipe-tips {
    list-style-image: url('/images/tips.png');
    list-style-type: dotted;
}

.about-author img {
    list-style-image: url('/images/tika.png');
    list-style-type: dotted;
}