body {
    background-image: url('/images/recipe-background.png');
    background-size: 200px;
    background-repeat: repeat;
}

.recipe-body{
    background-color: rgba(255, 255, 231, 0.8);
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto 100px auto;
}

h2, h3 {
    background-color: #83ff83;
    border-radius: 20px;
    padding: 10px;
    margin-top: 0;
}

/* Main sections */

.rec-ing-list1, .rec-ing-list2 {
    display: inline-block;
    margin-right: 50px;
}

.recipe-name, .recipe-text, .recipe-tips, .about-author, .recipe-ingredients {
    background-color: rgb(255, 255, 219);
    box-shadow: 5px 5px rgb(190, 190, 140);

    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 50px auto;
}

.recipe-tips {
    list-style-image: url('/images/tips.png');
    list-style-type: dotted;
}

.about-author img {
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 50%;
}

.author-name {
    font-size: 20px;
    font-weight: 600;
}

.author-group{
    width: 30%;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}